<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
</IfModule>

<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

AddType image/svg+xml .svg .svgz
